<!DOCTYPE html>
<html>
<head>
  {% include basicHead.html %}
  <link rel="stylesheet" href="bootstrap-theme.min.css" />
  <style>
    #overview h2 {font-weight:200;}
    .col-md-4 {margin-bottom:2em;}
  </style>
</head>
<body>
  {% include navbar.html %}
  <div class="container">
    <header>
      <div class="jumbotron">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
      <p><a class="btn btn-primary btn-lg" href="download.html">Get {{ page.title }}</a></p>
    </header>
    {{ content }}
  </div>
  {% include navbar-js.html %}
  {% include tracking.html %}
</body>
</html>
